.cardBody{
    text-align: center;
    border-radius: 10px;
    background-color:rgb(156, 254, 221);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    height: 320px;
    width:240px;
}

.card-img{
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
}

.cardBody:hover,
.cardBody:focus {
    transform: scale(1.05);
}
.cardBody:active {
    transform: scale(.90);
    transition: transform 0.20s ease-in-out;
}
